* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  background-color: #d6d5c9;
}

header,
footer {
  background-color: brown;
  padding: 1rem;
}

#banner {
  background-color: #f29479;
  padding-top: 17rem;
  padding-bottom: 12rem;
}

#titulo-principal,
#sobre-mi,
#cursos {
  font-size: 4rem;
  font-family: "Kameron", serif;
}

#info-me, #educacion, #contacto {
  padding-top: 3rem;
}

.pensamiento {
  background-color: #9e2a2b;
  color: white;
  font-family: "Abril Fatface", serif;
  margin-top: 9rem;
  margin-bottom: 9rem;
  padding: 1rem;
  border-radius: 5px;
}

#educacion, .info-adi {
  background-color: #f29479;
}

#formulario {
  font-family: "Kameron", serif;
  font-size: 2rem;
}

#content-form {
  font-family: "Kameron", serif;
}

#icon:active, #links-nav:active {
  color: white;
}

@media (min-width: 768px) {
  #logo-frutilla {
    width: 70px;
    height: 70px;
  }

  #banner {
    padding-top: 25rem;
    padding-bottom: 15rem;
  }

  #info-me {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  #descripcion-me {
    font-size: 1.2rem;
  }

  .pensamiento {
    margin-top: 15rem;
    margin-bottom: 15rem;
    padding: 3rem;
  }

  #card-cursos {
    height: 400px;
    width: 400px;
    margin-left: 8.5rem;
  }

  #card-cursos:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }

  .info-adi {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  #info {
    font-size: 1.2rem;
  }

  #input {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  #img-duda {
    height: 300px;
    width: 300px;
    margin-top: 5rem;
    margin-right: 2.5rem;
  }

  #formulario {
    font-size: 2.3rem;
  }

  #icon:hover, #links-nav:hover {
    color: white;
  }
}

@media (min-width:1024px) {
    header {
        padding:0;
    }

    #links-nav {
        font-size: 1rem;
    }

    #logo-frutilla {
    width: 60px;
    height: 60px;
  }

  #banner {
    padding-top: 10.5rem;
    padding-bottom: 10.5rem;
  }

  #sobre-mi {
    margin-left: 4rem;
  }

  #descripcion-me {
    font-size: 1.1rem;
  }

  .pensamiento {
    padding: 3.5rem;
    margin-top: 10rem;
    margin-bottom: 7rem;
  }

  #card-cursos {
    width: 300px;
    margin-right: 25rem;
    margin-left: 0;
  }

  #info {
    font-size: 1rem;
  }

  #input {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  #icon-color {
    background-color: darkred;
  }
}

@media (min-width:1280px) {
  #links-nav {
    font-size: 1.2rem;
  }

  #banner {
    padding-top: 18rem;
    padding-bottom: 13.7rem;
  }

  #titulo-principal, #sobre-mi {
    font-size: 5rem;
  }

  #descripcion-me {
    padding: 1rem;
  }

  .pensamiento {
    margin-top: 13rem;
  }

  #card-cursos {
    width: 350px;
  }

  #info, h5 {
    font-size: 1.3rem;
  }

  #formulario {
    font-size: 2.5rem;
  }

  #img-duda {
    margin-top: 2rem;
  }

  #icon {
    font-size: 1.8rem;
  }
}

@media (min-width:1920px) {
  #links-nav {
    font-size: 1.3rem;
  }

  #banner {
    padding-top: 21.5rem;
    padding-bottom: 16.5rem;
  }

  #titulo-principal, #sobre-mi {
    font-size: 6rem;
  }

  #descripcion-me {
    padding: 1.5rem;
  }

  .pensamiento {
    padding: 4rem;
    margin-top: 14rem;
    margin-bottom: 14rem;
  }

  #card-cursos {
    width: 400px;
    height: 420px;
  }

  #formulario {
    font-size: 2.6rem;
  }

  #img-duda {
    margin-top: 2.5rem;
  }
}
