* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  background-color: #d6d5c9;
}

header,
footer {
  background-color: brown;
  padding: 1rem;
}

#banner {
  background-color: #f29479;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

#titulo-principal,
#sobre-mi,
#cursos {
  font-size: 4rem;
  font-family: "Kameron", serif;
}

.pensamiento {
  background-color: #9e2a2b;
  color: white;
  font-family: "Abril Fatface", serif;
  margin-top: 9rem;
  margin-bottom: 9rem;
  padding: 1rem;
  border-radius: 5px;
}

#formulario {
  font-family: "Kameron", serif;
  font-size: 2rem;
}

#content-form {
  font-family: "Kameron", serif;
}

@media (min-width: 768px) {
  #logo-frutilla {
    width: 70px;
    height: 70px;
  }

  #banner {
    padding-top: 13rem;
    padding-bottom: 13rem;
  }

  #info-me {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  #descripcion-me {
    font-size: 1.2rem;
  }

  .pensamiento {
    margin-top: 15rem;
    margin-bottom: 15rem;
    padding: 3rem;
  }

  #card-cursos {
    height: 400px;
    width: 400px;
    margin-left: 8.5rem;
  }

  #card-cursos:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }

  .info-adi {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  #info {
    font-size: 1.2rem;
  }

  #input {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  #img-duda {
    height: 300px;
    width: 300px;
    margin-top: 5rem;
    margin-right: 2.5rem;
  }

  #formulario {
    font-size: 2.3rem;
  }

  #icon:hover, #links-nav:hover {
    color: white;
  }
}
